@page "/administration/roles/create"
@using Front.ApiClient.Interfaces
@using Front.Components
@using Shared.DTOs.Roles
@using Shared.Enums
@using Front.Helpers
@inject IRolesApi rolesApi
@inject NavigationManager Nav

<Section Title="Creación de roles">
	<MudForm @ref="form" Model="model" >
		<MudStack>
			<MudTextField Label="Nombre" @bind-Value=model.Name For="() => model.Name" Required RequiredError="El rol debe tener un nombre"> </MudTextField>
			<RolesForm @bind-Permissions=model.Permissions />
			<MudStack Row Justify="Justify.FlexEnd">
				<MudButton Variant="Variant.Filled" OnClick="ReturnToRolesPage">Cancelar</MudButton>
				<MudButton Disabled=isCreating Variant="Variant.Filled" OnClick=Save Color=Color.Primary>Guardar</MudButton>
			</MudStack>
		</MudStack>
	</MudForm>
</Section>

@code {
	CreateRolDto model = new() { Name = null, Permissions = Permissions.None };
	Permissions permissions = Permissions.None;
	bool isCreating;
	MudForm form;
	async Task Save()
	{
		await form.Validate();
		if (!form.IsValid)
		{
			return;
		}
		isCreating = true;
		await rolesApi.CreateRol(model);
		isCreating = false;
		ReturnToRolesPage();
	}

	void ReturnToRolesPage()
	{
		Nav.NavigateTo<RolesPage>();
	}
}
