@page "/projects/{ProjectId:string}/edit"
@using Front.ApiClient.Interfaces
@using Front.Services.StateService
@using Shared.DTOs.Projects
@inject ProjectStateService ProjectStateService
@inject IProjectsApi ProjectsApi

<h3>EditProject</h3>

@code {
	[Parameter]
	public string ProjectId { get; set; } = string.Empty;
	private Guid _projectId { get; set; }
	UpdateProjectDto model = default!;

	protected async override Task OnInitializedAsync()
	{
		_projectId = new Guid(ProjectId);
		if (ProjectStateService.CurrentProject == null || ProjectStateService.CurrentProject.Id != _projectId)
		{
			await ProjectStateService.LoadProject(_projectId);
		}

		model.Description = ProjectStateService.CurrentProject!.Description; 
		model.Name = ProjectStateService.CurrentProject.Name;
		model.UsersIds = ProjectStateService.CurrentProject.UsersIds;


		await base.OnInitializedAsync();
	}
}
