@page "/"
@using Front.Components

<div class="d-flex justify-center align-center gap-4" style="height:90vh">
	<GitLabLogo Width="200px" />
	<SonarQubeLogo Class="mt-1" Width="200px" />
	<OpenProjectLogo Width="200px" Class="ml-2" />
</div>


@code{
	
}