@page "/projects"
@using Front.ApiClient.Interfaces
@using Front.Components
@using Front.Components.Tables
@using Front.Helpers
@using Front.Pages.Projects
@using Microsoft.AspNetCore.Components.Forms
@using Shared.DTOs.Pagination
@using Shared.DTOs.Projects
@inject IProjectsApi ProjectsApi
@inject NavigationManager Nav

<PageTitle>Proyectos</PageTitle>

<MudContainer Fixed="true" Class="mt-6">
    <Section Title="Proyectos">
        <ProjectTable 
            GetProjects="GetProjectsAsync"
            OnCreateProjectClicked="NavigateToCreateProject"
            GetProjectUrl="GetProjectUrl">
            <TableActions>
                <MudButton Variant=Variant.Filled Color="Color.Primary" OnClick="NavigateToCreateProject">Crear proyecto</MudButton>
            </TableActions>
        </ProjectTable>
    </Section>
</MudContainer>

@code {
    private async Task<PaginatedResponseDto<FilteredProjectDto>> GetProjectsAsync(FilteredPaginatedRequestDto<ProjectQueryParameters> request)
    {
        return await ProjectsApi.GetProjects(request);
    }

    private void NavigateToCreateProject()
    {
        Nav.NavigateTo<CreateProjectPage>();
    }

    private string GetProjectUrl(Guid ProjectId)
    {
        Dictionary<string, object> parameters = new Dictionary<string, object>();
        parameters.Add(nameof(ProjectPage.ProjectId), ProjectId.ToString());
        return Nav.GetUrl<ProjectPage>(parameters);
    }
}
